*.pyc
*.~donkies/debug.log
.cache/
__pycache__/
db.dump

donkies/celerybeat-schedule
donkies/donkies/settings/data.json
donkies/db.dump
donkies/debug.log
template/
template-react/
collectedstatic/
static/
