{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#2196F3">
    <title>Material UI One Page Theme</title>

    {# CSS #}
    <link href="{% static "web/min/plugin-min.css" %}" type="text/css" rel="stylesheet" />
    <link href="{% static "web/min/custom-min.css" %}" type="text/css" rel="stylesheet" />
    
    <link href="{% static "web/css/style-landing.css" %}" type="text/css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

</head>
<body id="top" class="scrollspy">

    {# Pre Loader #}
    <div id="loader-wrapper">
        <div id="loader"></div>
     
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
     
    </div>



    {# Navigation #}
    <div class="navbar-fixed">
        <nav id="nav_f" class="default_color" role="navigation">
            <div class="container">
                <div class="nav-wrapper">

                    <a href="#" id="logo-container" class="brand-logo">Donkies</a>

                    <ul class="right hide-on-med-and-down">
                        <li><a href="#intro">How It Works</a></li>
                        <li><a href="#work">Benefits</a></li>
                        <li><a href="#team">Team</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <!-- <li><a href="https://github.com/joashp/material-design-template" target="_blank">Download</a></li> -->
                    </ul>
                    <ul id="nav-mobile" class="side-nav">
                        <li><a href="#intro">How It Works</a></li>
                        <li><a href="#work">Benefits</a></li>
                        <li><a href="#team">Team</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <!-- <li><a href="https://github.com/joashp/material-design-template" target="_blank">Download</a></li> -->
                    </ul>
                    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                </div>
            </div>
        </nav>
    </div>


{# Hero #}
<div class="section section-index no-pad-bot" id="index-banner">
    <div class="section__content">
        <div class="section__content-inner">
            <h1 class="center header cd-headline letters type">
                                    {# style="padding-top: 300px; #}
                <span>Pay off Debt </span> 
                <span class="cd-words-wrapper waiting">
                    <b class="is-visible">Faster</b>
                    <b>Faster</b>
                    {# <b>developing</b> #}
                </span>
            </h1>

            <div class="section-index__action" style="text-align:center">  
                {# Modal Trigger #}
                <a data-toggle="modal" href="#modalHero" class="modal-trigger btn btn-large waves-light waves-effect">
                    Learn More
                </a>

                {# How It Works Button #}
                <a href="#intro" class="btn btn-large btn-default waves-light waves-effect btn-scrollto">
                    How It Works
                </a>

            </div>
        </div>
    </div>
</div> 
       

    </div>
</div>



{# Intro and service #}
<div id="intro" class="section section-intro scrollspy">
    <div class="container">
        
        <h2 class="section__title">How It Works</h2>

        <div class="row">
            <div  class="col s12">
                <h3 class="center header"><span class="span_h2"> Automatically </span> Pay Off <span style="color:red;">Student Debt</span> Everytime You Use Your Debit Card. We Will <span class="span_h2"> Round Up</span> Every Transaction To The Nearest Dollar And Use The Balance To Pay It Off. </h3>

                <h3 class="center header span_h2">#Whatsyournetworth</h3>
            </div>



            <div  class="col s12 m4 l4">
                <div class="center promo promo-example">
                <i class="large material-icons">get_app</i>
                    {# <i class="large material-icons"></i> #}
                    <h5 class="promo-caption">Sign Up</h5>
                    <p class="light center">It's quick and easy, go ahead and sign up, it takes less than 5 minutes!</p>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                <i class="large material-icons">link</i>
                    <h5 class="promo-caption">Link Accounts</h5>
                    <p class="light center">After registration, go ahead and link your checking and student loans accounts, you are almost there!</p>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                <i class="large material-icons">trending_down</i>
                    <h5 class="promo-caption">Watch Debt Go Down</h5>
                    <p class="light center">Watch how your change decrease your loans while increaing your networth. You are going to be very surprised?  What's your networth?</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row center">
        <div class="col s12">
            <h4 class="center header span_h2">Launching Soon, Go ahead sign up for our beta launch to gain early access!</h3>
            <div class="input">
                <input type="text" class="button" id="email" name="email" placeholder="NAME@EXAMPLE.COM">
                <a href="#SIGN_UP" class="waves-effect waves-light btn-large" onclick="show_alert();">SIGN UP</a>
            </div>
        </div>
    </div>
</div>

<script>
function show_alert() {
   alert("Thanks for signing up!  We are very excited to be launching soon! We have sent you an email with more information.");
}
</script>





<!--Work-->
<div class="section section-benefits section__grey scrollspy" id="work">
    <div class="container">
        
        <h2 class="section__title">Benefits Of Using Donkies</h2>

        <div class="row">
            <div class="col s12 l4">
                <div class="home-benefits__card">
                    <div class="home-benefits__img">
                        <img class="activator" src="{% static "web/img/home-automatic.jpg" %}" />
                    </div>

                    <div class="home-benefits__content">
                        <h2 class="home-benefits__title">
                            Automatic Debt Payback
                        </h2>

                        <h3 class="home-benefits__subtitle">
                            Sign up once and we will take care of the rest, all you have to do is monitor and let us know when you want your funds transfered to your student loan account.
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col s12 l4">
                <div class="home-benefits__card">
                    <div class="home-benefits__img">
                        <img class="activator" src="{% static "web/img/home-increasenetworth.jpg" %}" />
                    </div>

                    <div class="home-benefits__content">
                        <h2 class="home-benefits__title">
                            Increase Networth
                        </h2>

                        <h3 class="home-benefits__subtitle">
                            As you use your change to pay back student loans, watch your networth increase, making it easy to participate in the things you enjoy the most.
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col s12 l4">
                <div class="home-benefits__card">
                    <div class="home-benefits__img">
                        <img class="activator" src="{% static "web/img/home-savetime.jpg" %}" />
                    </div>

                    <div class="home-benefits__content">
                        <h2 class="home-benefits__title">
                            Save Years
                        </h2>

                        <h3 class="home-benefits__subtitle">
                            Think about it, you can save a good amount of time and not have to pay back student loans.  Instead of paying 10 years, why not 7?
                        </h3>
                    </div>
                </div>
            </div>
            {% comment %}
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static "web/img/project4.jpg" %}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Project Title <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="#">Project link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Project Title <i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this project that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static "web/img/project5.png" %}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Project Title <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="#">Project link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Project Title <i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this project that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div> 
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static "web/img/project6.jpeg" %}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Project Title <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="#">Project link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Project Title <i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this project that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
            {% endcomment %}
        </div>
    </div>
</div>

{# Parallax #}
<div class="section-action parallax-container">
    <div class="parallax"><img src="{% static "web/img/parallax1.png" %}"></div>

    <div class="section__content">

        <h2 class="waves-light">Are you ready to be debt free?</h2>

        <div class="center">  
            {# <h3 class="center header text_h2 span_h2">Go ahead sign up now!</h3> #}

            {# <a href="#SIGN_UP" class="waves-effect waves-light btn-large">SIGN UP</a> #}

        </div>
    </div>

</div>

{# Team #}
<div class="section section__grey scrollspy" id="team">
    <div class="container">
        
        <h2 class="section__title"> Our Team </h2>

        <div class="row">
            {% comment %}
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="{% static "web/img/avatar1.png" %}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Flash <br/>
                            <small><em><a class="red-text text-darken-1" href="#">CEO</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="{% static "web/img/avatar2.png" %}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Cat Woman<br/>
                            <small><em><a class="red-text text-darken-1" href="#">Designer</a></em></small>
                        </span>
                        <p>
                            <a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            {% endcomment %}
            <div class="col s12 m4">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="{% static "web/img/avatar3.png" %}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">
                            Ryan <br/>
                            <small><em><a class="red-text text-darken-1" href="#">Founder</a></em></small></span>
                        <p>
                            {% comment %}
                            <a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            {% endcomment %}
                            <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/ryanam26/">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card card-avatar ">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="{% static "web/img/avatar4.png" %}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Alex<br/>
                            <small><em><a class="red-text text-darken-1" href="#">Co-Founder & CTO</a></em></small></span>
                        <p>
                            {% comment %}
                            <a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            {% endcomment %}
                            <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/alexluisarias/">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{# Footer #}
<footer class="footer-distributed">

            {% comment %}
            <div class="footer-left">
                <div class="row"><span class="hidden-xs">
                 <h3><span></span><a href="http://scf.edu/library"> <img src="http://lgimages.s3.amazonaws.com/data/imagemanager/22114/scf_libraries180x70.jpg"</span></h3></a>



                <p class="footer-links">
                    <a href="http://discover.linccweb.org/primo_library/libweb/action/myAccountMenu.do?vid=FLCC1500">Your Account</a><p></p>
                    ·
                    <a href="http://www.libsurveys.com/loader.php?id=117">Feedback</a><p></p>
                    ·
                    <a href="http://www.linccweb.org/Linking.aspx">LINCCweb Links</a><p></p>
                    ·
                    <a href="mailto:LibrarySuggestionBox@scf.edu">Suggestion Box</a><p></p>
                    ·
                
                    <a href="http://libguides.scf.edu/c.php?g=119436&p=779092">Image Attribution</a>
                </p>

            
                </span>
            </div>
            </div>
            {% endcomment %}

            <div class="footer-center">

                <div>
                    <i class="fa fa-map-marker"></i>
                    <p><span>Donkies Technology | Miami</a> | Florida</a> | USA</a> </span>
                    
                </div>

            <div>
<i class="fa fa-phone"></i>
<p><span>561-306-9507</span><br>
                </div>
                
                {% comment %}
                <div>
                    <i class="fa fa-phone"></i>
                    <p><span>Venice Library : 941-408-1435</span></br>
                </div>
                
                <div>
                     <i class="fa fa-phone"></i>
                    <p><span>Lakewood Ranch : 941- 363-7250</span></p>
</div>

                <div>
                    <i class="fa fa-mobile"></i>
                    <p><span>Text: (941) 270-9643 | Twitter: @SCFLibraries</span></p>
                    
                </div>
                {% endcomment %}




                <div>
                    <i class="fa fa-envelope"></i>
                    <p><a href="mailto:ryan@donkies.com">Email</a></p>
                </div>
                <div>
                    <i class="fa fa-square-o"></i>
                    <p><a href="">Blog</a></p>
                </div>

            </div>

            <div class="footer-right">

                <p class="footer-company-about">
                </br>
                </br>
                </br>
                
                {% comment %}
                <div class="row"><span class="hidden-xs">
                    <span><h3>Our Mission Statement:</span></h3><p></p>
                    <h4><font color="white">The State College of Florida Libraries Engage Students, Faculty, Staff, and Community Members in the Discovery and Creation of Knowledge.
                </p>
                </div>
                {% endcomment %}
                </span>

                <div class="footer-icons">

                    <a href="https://www.facebook.com/donkiesapp/" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/donkiesapp" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.instagram.com/donkiesapp/" target="_blank"><i class="fa fa-instagram"></i></a>
                    {# <a href="https://www.pinterest.com/scflibraries/" target="_blank"><i class="fa fa-pinterest-square"></i></a> #}
                    {# <a href="https://www.linkedin.com/in/state-college-of-florida-libraries-a3a91a111" target="_blank"><i class="fa fa-linkedin"></i></a> #}
                    {# <a href-"https://www.youtube.com/user/SCFLibrary" target="_blank" > <i class="fa fa-youtube"></i></a> #}
                    
                    
                   {# State College of Florida Libraries © 2016</h4></font> #}
</li></li></li></li>
</li></li>
</li></li>

<div><div><div>
                </div>

            </div>

        </footer>

        <div class="modal fade" id="modalHero" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-header">
                    </div>

                    <div class="modal-body">
                        <div style="position: relative;padding-bottom: 56.25%; /* 16:9 */padding-top: 25px;height: 0;">
                            <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" src="https://www.youtube.com/embed/F-eMt3SrfFU" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <style>
        .footer-distributed{
            background-color: #000033;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
            box-sizing: border-box;
            width: 100%;
            text-align: left;
            font: bold 16px sans-serif;

            padding: 55px 50px;
            margin-top: 80px;
        }

        .footer-distributed .footer-left,
        .footer-distributed .footer-center,
        .footer-distributed .footer-right{
            display: inline-block;
            vertical-align: top;
        }

        /* Footer left */

        .footer-distributed .footer-left{
            width: 30%;
        }

        /* The company logo */

        .footer-distributed h3{
            color:  #ffffff;
            font: normal 36px 'Cookie', cursive;
            margin: 0;
        }

        .footer-distributed h3 span{
            color:  #ffffff;
        }

        /* Footer links */

        .footer-distributed .footer-links{
            color:  #ffffff;
            margin: 20px 0 12px;
            padding: 0;
        }

        .footer-distributed .footer-links a{
            display:inline-block;
            line-height: 1.8;
            text-decoration: none;
            color:  inherit;
        }

        .footer-distributed .footer-company-name{
            color:  #8f9296;
            font-size: 14px;
            font-weight: normal;
            margin: 0;
        }

        /* Footer Center */

        .footer-distributed .footer-center{
            width: 45%;
        }

        .footer-distributed .footer-center i{
            background-color:  #33383b;
            color: #ffffff;
            font-size: 25px;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            text-align: center;
            line-height: 42px;
            margin: 10px 15px;
            vertical-align: middle;
        }

        .footer-distributed .footer-center i.fa-envelope{
            font-size: 17px;
            line-height: 38px;
        }

        .footer-distributed .footer-center p{
            display: inline-block;
            color: #ffffff;
            vertical-align: middle;
            margin:0;
        }

        .footer-distributed .footer-center p span{
            display:block;
            font-weight: normal;
            font-size:14px;
            line-height:2;
        }

        .footer-distributed .footer-center p a{
            color:  #5383d3;
            text-decoration: none;;
        }


        /* Footer Right */

        .footer-distributed .footer-right{
            width: 20%;
        }

        .footer-distributed .footer-company-about{
            line-height: 20px;
            color:  #000000;
            font-size: 13px;
            font-weight: normal;
            margin: 0;
        }

        .footer-distributed .footer-company-about span{
            display: block;
            color:  #000000;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .footer-distributed .footer-icons{
            margin-top: 25px;
        }

        .footer-distributed .footer-icons a{
            display: inline-block;
            width: 35px;
            height: 35px;
            cursor: pointer;
            background-color:  #33383b;
            border-radius: 2px;

            font-size: 20px;
            color: #ffffff;
            text-align: center;
            line-height: 35px;

            margin-right: 3px;
            margin-bottom: 5px;
        }

        /* If you don't want the footer to be responsive, remove these media queries */

        @media (max-width: 880px) {

            .footer-distributed{
                font: bold 14px sans-serif;
            }

            .footer-distributed .footer-left,
            .footer-distributed .footer-center,
            .footer-distributed .footer-right{
                display: block;
                width: 100%;
                margin-bottom: 40px;
                text-align: center;
            }

            .footer-distributed .footer-center i{
                margin-left: 0;
            }

        }
    </style>

    <!--  Scripts-->
    <script src="{% static "web/min/plugin-min.js" %}"></script>
    <script src="{% static "web/min/custom-min.js" %}"></script>

    <script>
        !function($, window, document){

            $(function() {
                // Modal Trigger
                $('.modal-trigger').leanModal();

                // Header Scroll
                $('.nav-wrapper').on('click', 'ul > li > a', scrollTo);
                $('#index-banner').on('click', '.btn-scrollto', scrollTo);

                function scrollTo(e, target){
                    e.stopPropagation();
                    e.preventDefault();

                    var target = $(this).attr('href');

                    $('html, body').animate({
                        scrollTop: ($(target).offset().top - $('.navbar-fixed').outerHeight())
                    }, 1000);

                    return false;
                }
            });

        }(window.jQuery, window, document);
    </script>

    </body>
</html>
