.instruction{
    margin: 10px;
    border:1px dotted #f1f1f1;
    padding: 20px;
    font-size: 14px;
    color:#444;
}

.instruction .title{
    border-bottom:1px dotted #ccc;
    padding-bottom: 3px;
    margin-bottom: 10px;
    font-weight: bold;
}

.instruction p{
    margin-top: 10px;
}

.instruction ul {
    font-size: 1em;
}

.instruction ul li{
    list-style: none;
    font-size: 0.9em;
    margin-top: 3px;
    color: #417690 ;
}

.instruction ul li em{
    font-weight: bold;
    font-style: normal;
}