<div>Hi {{ name }}</div>
<div>This email serves to confirm that CoinStash has debited $5 from your {{ bankAccountId }}. We are transferring the funds to your CoinStash Savings account.</div>
<div>If you have any questions or concerns about this transfer please contact support at (813) 815-4647 or ryan@getcoinstash.com.</div>
<div>Thank you.</div>
{% comment %}

<div>Hi {{ name }}</div>
<div>This email serves to confirm that you have requested {{ amount_value }} from your CoinStash Savings Account to your {{ bankAccountId }}.</div>
<div>If you have any questions or concerns about this transfer please contact support at (813) 815-4647 or ryan@getcoinstash.com.</div>
<div>Thanks</div>

{% endcomment %}
