<div>Hi, {{ name }}.</div>
<div>Your CoinStash account has been successfully verified!</div>
<div>This email serves to confirm that you have successfully opened a Customer Account with our partner Dwolla, Inc and that you have accepted the Dwolla Terms of Service and Privacy Policy.</div>
<div>Please feel free to review the terms that you have accepted here: <a href="https://www.dwolla.com/legal/tos?whitelabel">https://www.dwolla.com/legal/tos?whitelabel</a></div>
<div>If you have any questions or concerns please contact support at (813) 815-4647 or <a href="mailto:support@getcoinstash.com">support@getcoinstash.com</a>.</div>
<div>Thank you.</div>
